body {
  font-family: sans-serif,Arial;
  font-size: 14px;
  background-color: rgb(113, 166, 201);
}

h1 {
}

.tweet {
  padding: 13px 15px;
  border: 1px solid #e1e8ed;
  background-color: white;
}

.date {
  font-size: 12px;
  color: #bababa;
}